<div class="container">
    <div class="row">
        <h1 class="center white-text">Valentin <span class="orange-text">Vareskic</span></h1>
        <br>
        <h5 class="center ">Portfolio</h5><br><br>
        <div class="row center">
            <button class="second">Get Started
                <span class="line-one"></span>
                <span class="line-two"></span>
                <span class="line-three"></span>
                <span class="line-four"></span>
            </button>
        </div>
    </div>
    <div class="row center">
        <div class="col m4 s12">
            <p class="red-text" routerLink=""><i class="material-icons">settings</i></p>
            <h5 class="">AI & ML</h5>
        </div>
        <div class="col m4 s12">
            <p class="red-text"><i class="material-icons">group</i></p>
            <h5 class="">ABOUT ME</h5>
        </div>
        <div class="col m4 s12">
            <p class="red-text"><i class="material-icons">flash_on</i></p>
            <h5 class="">WEB DEV</h5>
        </div>
    </div>
</div>